@font-face {
  font-family: myfont;
  src: url(../assets/fonts/Rubik-Black.ttf);
}

.loading-screen {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: linear-gradient(to bottom, #6e2828 0%, #090909 100%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: Arial, sans-serif;
  flex-direction: column;
  overflow: hidden;
}

.main-screen {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: rgb(8, 8, 8);
  display: block;
  overflow: hidden;
}

.main-Div {
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 90%;
  background: rgb(10, 11, 13);
  display: block;
  overflow-y: auto;
  scrollbar-width: none;
}



.main-Div::-webkit-scrollbar {
  display: none;
}

.main-Div p {
  position: absolute;
  top: 33%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 17px;
  color: rgb(60, 60, 60);
  text-shadow: 0 0 5px #FFF, 0 0 10px #FFF, 0 0 15px #FFF, 0 0 20px #ccc, 0 0 30px #ccc, 0 0 40px #ccc, 0 0 55px #ccc, 0 0 75px #ccc;
  padding-bottom: 20px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
}

.Playbtn-Div {
  position: absolute;
  left: 20px;
  top: 100px;
  border-radius: 10px;
  width: 65%;
  height: 50%;
  background-color: #111212;
  background-image: url(../assets/images/Vortex-Start-Banner.png);
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center;
}

.News-Div {
  position: absolute;
  right: 20px;
  top: 68%;
  border-radius: 10px;
  width: 65%;
  height: 45%;
  background-color: #111212;
}

.MainBar {
  position: fixed;
  top: 20px;
  left: 20px;
  width: 83%;
  height: 60px;
  background-color: #111212;
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: row;
  border-radius: 10px;
}

.RandomBox {
  position: absolute;
  left: 20px;
  top: 68%;
  border-radius: 10px;
  width: 30%;
  height: 45%;
  background-color: #111212;
  display: flex;
  flex-direction: column;
}

.MainBar-Right {
  gap: 20px;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  margin-right: 20px;
}

.LinkBtn {
  border-radius: 50%;
  width: 40px;
  height: 40px;
  border: none;
  font-size: large;
  cursor: pointer;
  background-color: white;
  box-shadow: none;
  margin-left: 2.5px;
  transition: 0.5s;
  color: black;
}

.LinkBtn:hover {
  background-color: #6e2828;
  box-shadow: 0px 0px 29px 0px rgb(110, 40, 40);
  color: white;
}

.title {
  font-size: 1.5rem;
  font-weight: lighter;
  font-family: myfont;
  color: white;
  margin-left: 20px;
}

.BLXServers-Div {
  position: absolute;
  right: 20px;
  top: 100px;
  border-radius: 10px;
  width: 30%;
  height: 50%;
  background-color: #111212;
  display: flex;
  flex-direction: column;
}

.header {
  position: absolute;
  top: 10px;
  left: 10px;
  color: white;
  font-family: myfont;
  font-size: 12px;
  margin-bottom: 10px;
}

.server-holder {
  position: absolute;
  top: 10%;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 90%;
  overflow-y: auto;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
}

.server {
  background-color: #1b1c1d;
  border-radius: 6px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 8px;
  width: 90%;
  margin-bottom: 8px;
  height: 50px;
}

.server img {
  width: 24px;
  height: 24px;
  margin-right: 15px;
  border-radius: 5px;
}

.name {
  color: white;
  font-size: 13px;
  font-family: myfont;
  flex-grow: 1;
  margin-left: 10px;
}

.join-btn {
  flex-shrink: 0;
  width: 70px;
  height: 30px;
  border: none;
  border-radius: 8px;
  background-color: white;
  font-size: 0.75rem;
  font-weight: bolder;
  margin: 0;
  transition: 0.5s;
  cursor: pointer;
  color: black;
}

.join-btn:hover {
  background-color: #6e2828;
  box-shadow: 0px 0px 15px 0px #6e2828;
  color: white;
}

#loginAvatar {
  display: none;
  width: 30px;
  height: 30px;
  border-radius: 10px;
  margin-right: 8px;
  vertical-align: middle;
}

.small-username {
  font-size: 0.6em;
}

#InviteF {
  border: none;
  height: 40px;
  width: 180px;
  border-radius: 10px;
  background-color: white;
  font-size: 1rem;
  font-weight: bolder;
  margin-right: 7.5px;
  transition: 0.5s;
  cursor: pointer;
  color: black;
}

#InviteF:hover {
  background-color: #6e2828;
  box-shadow: 0px 0px 29px 0px #6e2828;
  color: white;
}

#Invite-Div {
  z-index: 1000;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(160, 160, 160);
  width: 400px;
  height: 150px;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease;
  background: linear-gradient(0.5turn, rgba(20, 18, 18, 0.9), rgba(217, 52, 55, 0.9));
}

#Invite-Div.show {
  opacity: 1;
  pointer-events: auto;
}

.invite-main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: row;
}

#copyText {
  width: 280px;
  height: 30px;
  border: 1px solid #ccc;
  border-radius: 5px;
  outline: none;
  resize: none;
  overflow: hidden;
  white-space: nowrap;
  font-size: 16px;
  line-height: 30px;
  padding: 0 8px;
}

#CopyBtn {
  width: 80px;
  height: 35px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #000;
  font-weight: bolder;
  margin-left: 10px;
}

#loginBtn {
  position: absolute;
  right: 20px;
  top: 20px;
  border-radius: 10px;
  border: none;
  width: 12%;
  height: 60px;
  background-color: #111212;
  color: white;
  font-weight: bolder;
  z-index: 15000;
  cursor: pointer;
  transition: 0.5s;
}

#loginBtn:hover {
  background-color: #0d1012;
}

#Login-Div {
  z-index: 1000;
  position: absolute;
  padding: 20px;
  top: 50%;
  left: 50%;
  border-radius: 10px;
  transform: translate(-50%, -50%);
  border: 2px solid rgb(160, 160, 160);
  width: 400px;
  height: 400px;
  opacity: 0;
  pointer-events: none;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: opacity 0.4s ease;
  background: linear-gradient(0.5turn, rgba(20, 18, 18, 0.9), rgba(217, 52, 55, 0.9));
}

#Login-Div.show {
  opacity: 1;
  pointer-events: auto;
}

h2 {
  font-family: myfont;
  font-size: 2rem;
  text-align: center;
  color: #fff;
}

.input-box {
  position: relative;
  width: 100%;
  margin: 30px 0px;
  border-bottom: 2px solid #fff;
}

#closeBtn,
#closeIBtn {
  position: absolute;
  top: 10px;
  right: 10px;
  border: none;
  outline: none;
  background: transparent;
  color: white;
  font-size: 1rem;
  cursor: pointer;
}

.input-box label {
  position: absolute;
  font-size: 1rem;
  top: 50%;
  color: white;
  transform: translateY(-50%);
  left: 8px;
  font-family: Arial, Helvetica, sans-serif;
  pointer-events: none;
  transition: 0.5s;
}

.input-box input {
  width: 100%;
  height: 30px;
  background: transparent;
  border: none;
  outline: none;
  color: #fff;
  font-size: 1rem;
  padding: 0 70px 0 5px;
}

.input-box input:focus ~ label,
.input-box input:valid ~ label {
  top: -5px;
}

.input-box #icon {
  position: absolute;
  right: 8px;
  color: #fff;
  font-size: 1.2rem;
  line-height: 20px;
}

#submit {
  width: 100%;
  height: 40px;
  background-color: #fff;
  border: none;
  outline: none;
  border-radius: 40px;
  cursor: pointer;
  font-size: 1em;
  color: #000;
  font-weight: bolder;
}

#loadButton {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 15px 50px;
  font-size: 14px;
  font-weight: bolder;
  cursor: pointer;
  border: none;
  background-color: #0a0b0d;
  color: gray;
  border-radius: 10px;
  transition: 0.5s;
}

#loadButton:hover {
  background-color: #0d1012;
}

.Main-Banner {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 260px;
  height: 65px;
}

.loading-text {
  font-size: 15px;
  color: rgb(100, 100, 100);
  font-weight: lighter;
  margin-bottom: 10px;
}

.Load-Banner {
  height: 100px;
  width: 400px;
}

.fake-progress-bar {
  width: 500px;
  height: 20px;
  background-color: #111212;
  margin-top: 20px;
  border-radius: 20px;
  overflow: hidden;
}

.fake-progress-bar-inner {
  width: 0;
  height: 100%;
  border-radius: 20px;
  background: linear-gradient(0.25turn, #141212, #d93437);
  animation: fakeLoading 3s ease-out forwards;
}

@keyframes fakeLoading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
